language: python
python:
  - "2.7"
  - "3.4"
  - "3.6"
#  - "pypy"
sudo: false
env:
  - LXML=true
  - LXML=false
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - if [ "$LXML" == "true" ]; then pip install lxml; fi
script:
  - python -m pytest
  - flake8 owslib/wmts.py
  - flake8 owslib/wps.py
after_success:
  - coveralls
notifications:
  irc:
    - "irc.freenode.org#geopython"
