name: build on Windows ⚙️

on: [ push, pull_request ]

jobs:
  main:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v5
      name: Setup Python ${{ matrix.python-version }}
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install requirements 📦
      run: |
        pip install -e .
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: run tests ⚙️
      run: python -m pytest
